header {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: lightseagreen;
}

section {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 20px;
    background-color: darkcyan
}

footer {
    background-color: limegreen;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: black;
}